<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h1>Welcome, {{ username }}</h1>
    
    <form action="patientslist" method="get">
        <button type="submit">View Patient</button>
    </form>
    
    <form action="/clinic/" method="post">
        {% csrf_token %}
        <button type="submit">Log Out</button>
    </form>
    
    <form action="home" method="get">
        <button type="submit">Edit</button>
    </form>
</body>
</html>
