<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unlocks Chart</title>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
</head>
<body>
    <form method="get">
        {{ form.as_p }}
        <input type="submit" value="Show Chart">
    </form>

    {% if chart_data %}
    <div id="chart"></div>
    <script>
        var data = JSON.parse('{{ chart_data | safe }}');  // Parse the JSON string to a JavaScript object
        var options = {
            chart: {
                type: 'bar'
            },
            series: data.series,
            xaxis: {
                categories: data.categories
            }
        }
        var chart = new ApexCharts(document.querySelector("#chart"), options);
        chart.render();
    </script>
{% endif %}
</body>
</html>
