{% load static %}
{% block content %}

<head>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<!-- dailyDuration.html -->
<form id="durationForm" method="GET" action="{% url 'daily_duration' %}">
    <input type="hidden" name="device_id" value="{{ request.GET.device_id }}">
    Date: <select id="duration_date" name="date"></select>
    <input type="submit" value="Show Duration Chart" onclick="loadDurationChart(); return false;">
</form>

<div id="durationChart"></div>

<script>
    function loadDurationDates() {
        const deviceId = document.querySelector('input[name="device_id"]').value;
        fetch(`/get_date/?device_id=${deviceId}`)
            .then(response => response.json())
            .then(data => {
                const dateSelector = document.getElementById('duration_date');
                dateSelector.innerHTML = '';  // clear any existing options
                data.available_dates.forEach(date => {
                    const optionElement = document.createElement('option');
                    optionElement.value = date;
                    optionElement.textContent = date;
                    dateSelector.appendChild(optionElement);
                });
            });
    }

    function loadDurationChart() {
        var formData = $('#durationForm').serialize();
        var url = "{% url 'daily_duration' %}?" + formData;

        $.get(url, function(data) {
            if (data.chart_data) {
                var chartData = data.chart_data;
                var options = {
                    chart: {
                        type: 'bar'
                    },
                    series: chartData.series,
                    xaxis: {
                        categories: chartData.categories
                    }
                }
                var chart = new ApexCharts(document.querySelector("#durationChart"), options);
                chart.render();
            }
            if (data.form_errors) {
                console.error(data.form_errors);
            }
        });
    }

    // Load chart and dates on page load
    $(document).ready(function() {
        loadDurationDates();
        loadDurationChart();
    });
</script>

{% endblock content %}
