{% load static %}
{% block content %}
<head>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<form id="weeklyUnlockForm" method="GET" action="{% url 'weekly_unlock' %}">
    <input type="hidden" name="device_id" value="{{ request.GET.device_id }}">
    Week Start Date: <select id="id_week_start_date" name="week_start_date"></select>
    Chart Type:
    <select id="id_week_unlock_chart_type" name="chart_type">
        <option value="line">Line</option>
        <option value="bar">Bar</option>
        <option value="area">Area</option>
        <!-- Add other chart types as per your requirement -->
    </select>
    <input type="submit" value="Show Chart" onclick="loadWeeklyUnlockChart(); return false;">
</form>

<div id="weeklyUnlockChart"></div>

<script>
    function loadWeeklyUnlockDates() {
        const deviceId = document.querySelector('input[name="device_id"]').value;
        fetch(`/get_week/?device_id=${deviceId}`)
            .then(response => response.json())
            .then(data => {
                const dateSelector = document.getElementById('id_week_start_date');
                dateSelector.innerHTML = '';
                data.available_weeks.forEach(week => {
                    const optionElement = document.createElement('option');
                    optionElement.value = week;
                    optionElement.textContent = week;
                    dateSelector.appendChild(optionElement);
                });
            });
    }

    function loadWeeklyUnlockChart() {
        var selectedChartType = document.getElementById('id_week_unlock_chart_type').value;  // Get the selected chart type
        
        var formData = $('#weeklyUnlockForm').serialize();
        var url = "{% url 'weekly_unlock' %}?" + formData;

        $.get(url, function(data) {
            if (data.chart_data) {
                var chartData = data.chart_data;
                var options = {
                    chart: {
                        type: selectedChartType
                    },
                    series: chartData.series,
                    xaxis: {
                        categories: chartData.categories
                    }
                }
                var chart = new ApexCharts(document.querySelector("#weeklyUnlockChart"), options);
                chart.render();
            }
            if (data.form_errors) {
                console.error(data.form_errors);
            }
        });
    }

    $(document).ready(function() {
        loadWeeklyUnlockDates();
        loadWeeklyUnlockChart();
    });
</script>

{% endblock content %}
